@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
    font-family: AquireFont;
    src: url(./assets/aquire.otf);
}
@font-face {
    font-family: NormalFont;
    src: url(./assets/Moon2.0-Bold.otf);
}

 {
    font-family: NormalFont;
}*/

#content {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}