@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
    font-family: AquireFont;
    src: url(./assets/aquire.otf);
}
@font-face {
    font-family: NormalFont;
    src: url(./assets/Moon2.0-Bold.otf);
}

 {
    font-family: NormalFont;
}*/
*{
    font-family: Cambria, Georgia, serif
}

#content {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

#vcoffeead {
    background-image: url(./assets/VCoffeeAd.png);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.text {
    font-size:x-large;
}
.title {
    font-size: 3em;
    font-weight: 900;
    text-align: center;
}
.subtitle {
    font-size:1.25em;
    font-weight: 700;
}

#content::-webkit-scrollbar {
    width: 15px;
}
#content::-webkit-scrollbar {
    height: 15x;
}

/* Track */
#content::-webkit-scrollbar-track, .overflow-x-auto::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(47, 47, 47);
    /* border-radius: 10px; */
    margin-left: 5px;
    margin-right: 5px;
}
/* Handle */
#content::-webkit-scrollbar-thumb, .overflow-x-auto::-webkit-scrollbar-thumb {
    background: #856a44;
    box-shadow: inset 0 0 5px rgb(33, 33, 33);
    border-radius: 10px;
}